* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Moved the * selector to top. */
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 400px;
    display: inline-block;
    font-size: 48px;
    /* Moved the h1 selector to below header selector and combined with header h1. */
}

.seo {
    color: #c0c0c0;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
    /* Removed .header nav as there is only one kind of ul here */
}

li {
    display: inline-block;
    margin-left: 25px;
    /* Removed .header nav ul as there is only one kind of ul here */
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /* Moved the hero selector to above p selector, to reflect html order. */
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /* Consolidated identical css for the three main sections and moved above the aside sections' selectors */
}

main.content section img {
    max-height: 200px;
    /* Consolidated identical css for the three main sections' imgs and moved above the aside sections' selectors */
}


main.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* Consolidated identical css for the three main sections' headers and moved above the aside sections' selectors */
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
    /* Consolidated identical css for the three benefit section classes */
}


aside.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
    /* Consolidated identical css for the three benefit headers */
}


aside.benefits section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /* Consolidated identical css for the three benefit images */
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h3 {
    font-size: 20px;
}